
body {
    font-family: 'Saira', sans-serif;
}

.container-fluid {
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
}

#page-header {
    display: none;
}

.mainTicketContent {
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    padding: 40px 20px;
    background: #fff;
    max-width: 800px;
    margin: 70px auto 0px;
}


.contact {
    margin-top: 3rem;
    text-align: center;
    font-size: small;
}

.paymenttypes {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.payimages {
    position: relative;
    margin-left: 23px;
}

.ticket__details {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 10px;
}

.ticket__wrap {
    max-width: 500px;
    margin: 0 auto;
}

.ticket__inner {
    background: #fff;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ticket__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    margin-left: 20px;
    border-left: 1px dashed #cccccc;
    padding-left: 10px;
}

    .ticket__right .ticket__icn:first-child {
        border-bottom: 1px dashed #cccccc;
    }

.ticket__des p {
    margin: 0;
    font-size: 14px;
    color: #545454;
}

.ticket__details.ticket__outer label {
    color: #545454;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}

.ticket__details.ticket__outer h5 {
    font-size: 20px;
    font-weight: 300;
    color: #545454;
    font-family: 'Saira', sans-serif;
}

.ticket__check {
    margin-right: 20px;
}

.ticket__icn {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    padding: 0 10px;
}

.ticket__contains {
    flex: 1;
}

.ticket__details.ticket__outer {
    background: #f6f6f6;
    padding: 15px 10px;
}

.ticket__des h5 {
    margin: 0;
}

.ticket__icn svg {
    max-width: 24px;
    width: 24px;
    fill: #034fc7;
}

.ticket__des label {
    color: #a6a6b9;
    font-weight: 500;
    font-size: 12px;
}

.ticket__info .ticket__des:last-child {
    text-align: right;
}

.ticket__info .ticket__des:first-child {
    flex: 2;
}

.ticket__info .ticket__des {
    flex: 1;
}

/*******/
.progressbar {
    overflow: hidden;
    counter-reset: step;
    width: 100%;
    margin: 0 auto 30px;
    padding: 0;
    max-width: 500px;
}

    .progressbar li {
        list-style-type: none;
        color: #bbbbbb;
        font-size: 14px;
        width: 33.33%;
        float: left;
        position: relative;
        text-align: center;
    }

        .progressbar li.active {
            color: #034fc7;
            font-weight: 600;
        }

        .progressbar li:before {
            content: counter(step);
            counter-increment: step;
            width: 20px;
            line-height: 20px;
            display: block;
            font-size: 10px;
            color: #333;
            background: #bbbbbb;
            border-radius: 50%;
            margin: 0 auto 5px auto;
            position: relative;
            z-index: 9;
        }

        .progressbar li:after {
            content: '';
            width: 100%;
            position: absolute;
            left: -50%;
            top: 9px;
            z-index: 1;
            border-top: 1px dashed #bbbbbb;
        }

        .progressbar li.active:before,
        .progressbar li.active:after {
            background: #034fc7;
            color: #ffffff;
        }

        .progressbar li:first-child.active:after {
            display: none;
        }

.heading__ticket {
    margin-top: 0;
    font-weight: 500;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    font-size: 20px;
    margin-bottom: 15px;
}

.heading__ticket1 {
    margin-top: 0;
    font-weight: 500;
    padding-bottom: 5px;
    font-size: 20px;
    margin-bottom: 0;
}

.btn__wrap {
    text-align: right;
    margin-top: 30px;
}

.btn {
    padding: 8px 12px;
    min-width: 120px;
    border-radius: 30px;
}

.btn-secondary {
    border: 1px solid;
    background: transparent;
}

    .btn-secondary:hover {
        color: #fff;
        background-color: #023b95;
        border-color: #022d72;
    }


.btn-secondary1 {
    border: 1px solid #034fc7;
    color: #034fc7;
    background: transparent;
}

    .btn-secondary1:hover {
        color: #fff;
        background-color: #034fc7;
        border-color: #034fc7;
    }

.btn-primary {
    border: 1px solid #034fc7;
    background: #034fc7;
    color: #fff;
}

    .btn-primary:hover {
        color: #034fc7;
        border-color: #034fc7;
        background: transparent;
    }

.mb40 {
    margin-bottom: 40px;
}

.mt-0 {
    margin-top: 0;
}

.fs-13 {
    font-size: 13px;
}

.mt-60 {
    margin-top: 60px;
}

.formbox {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-12 {
    padding: 0 15px;
    width: 100%;
}

.mb20 {
    margin-bottom: 20px;
}

.formbox label {
    font-size: 12px;
    font-weight: 500;
    width: 100%;
    display: inline-block;
}

* {
    box-sizing: border-box;
}

.formbox input, .formbox select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    height: 35px;
    padding: 0 10px;
}

.formbox .col-6 {
    width: 50%;
    padding: 0 15px;
}

.formbox label span {
    font-weight: 400;
}

.formbox label.labelCheckbox {
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

label.labelCheckbox input {
    width: auto;
    height: auto;
    margin-right: 10px;
}

.fs-12 {
    font-size: 12px;
    color: #aaa;
}

.text-center {
    text-align: center;
}

.btns {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

@media(max-width: 600px) {
    .ticket__info .ticket__des {
        flex: 2;
    }

    .progressbar li {
        font-size: 12px;
    }
}

@media(max-width: 567px) {
    .ticket__details .ticket__des {
        flex: 0 0 100%;
        text-align: left !important;
    }

    .ticket__details {
        flex-wrap: wrap;
    }
}

/*11-8-22 */
.heading__one {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 26px;
}

.formbox textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    height: 120px;
    padding: 10px 10px;
}

.formbox input, .formbox select {
    height: 35px;
}

.btns.payBTn {
    margin-top: 45px;
    justify-content: flex-end;
}

.payBTn button + button {
    margin-left: 40px;
}

.mb60 {
    margin-bottom: 60px;
}

.filledForm input, .filledForm textarea {
    background: #eee;
}
/*11-8-22 */





/* 12-8-22 */
.upload-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 30px;
}

.upload-img {
    display: inline-flex;
    width: 145px;
    height: 145px;
    background: #eee;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

    .upload-img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

.img-overlay {
    position: absolute;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    bottom: 0;
    padding: 5px 10px;
    color: #fff;
    font-size: 12px;
}

.upload-img-outer {
    padding: 0 15px;
}

.drag {
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    border-radius: 4px;
}

    .drag strong {
        font-weight: 500;
        color: #034fc7;
    }

    .drag img {
        height: 20px;
        margin-bottom: 7px;
    }

/* success */
.succesfully {
    text-align: center;
}

.backBtn {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.succesfully .backBtn button {
    padding: 8px 10px;
    min-width: 156px;
}

    .succesfully .backBtn button + button {
        margin-left: 30px;
    }

.succesfully h4 {
    color: #00d08f;
    font-size: 20px;
}



.h50 {
    margin-bottom: 10px;
    height: 60px;
}

/* 12-8-22 */


