USE [master]
GO
/****** Object:  Database [iCurrencyChange]    Script Date: 28/04/2016 17:17:18 ******/
CREATE DATABASE [iCurrencyChange]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'iCurrencyChange', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\iCurrencyChange.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'iCurrencyChange_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\iCurrencyChange_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [iCurrencyChange].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [iCurrencyChange]
GO
/****** Object:  Table [dbo].[CURRENCIES]    Script Date: 28/04/2016 17:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CURRENCIES](
	[CUR_ID] [numeric](18, 0) NOT NULL,
	[CUR_NAME] [varchar](50) NOT NULL,
	[CUR_ISO_CODE] [varchar](10) NOT NULL,
	[CUR_ISO_CODE_NUM] [varchar](10) NOT NULL,
	[CUR_MINOR_UNIT] [int] NOT NULL CONSTRAINT [DF_CURRENCIES_CUR_MINOR_UNIT]  DEFAULT ((0)),
	[CUR_SYMBOL] [nchar](10) NULL,
	[CUR_FACT] [float] NULL CONSTRAINT [DF_CURRENCIES_CUR_FACT]  DEFAULT ((1)),
 CONSTRAINT [PK_CURRENCIES] PRIMARY KEY CLUSTERED 
(
	[CUR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CURRENCY_CHANGES]    Script Date: 28/04/2016 17:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURRENCY_CHANGES](
	[CUCH_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CUCH_SRC_CUR_ID] [numeric](18, 0) NOT NULL,
	[CUCH_DST_CUR_ID] [numeric](18, 0) NOT NULL,
	[CUCH_CHANGE] [numeric](18, 6) NOT NULL,
	[CUCH_CHANGE_UTC_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_CURRENCY_CHANGES] PRIMARY KEY CLUSTERED 
(
	[CUCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CURRENCY_CHANGES_HIS]    Script Date: 28/04/2016 17:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURRENCY_CHANGES_HIS](
	[CUCHH_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CUCHH_SRC_CUR_ID] [numeric](18, 0) NOT NULL,
	[CUCHH_DST_CUR_ID] [numeric](18, 0) NOT NULL,
	[CUCHH_CHANGE] [numeric](18, 6) NOT NULL,
	[CUCHH_CHANGE_UTC_INIDATE] [datetime] NOT NULL,
	[CUCHH_CHANGE_UTC_ENDDATE] [datetime] NOT NULL,
 CONSTRAINT [PK_CURRENCY_CHANGES_HIS] PRIMARY KEY CLUSTERED 
(
	[CUCHH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PARAMETERS]    Script Date: 28/04/2016 17:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PARAMETERS](
	[PAR_ID] [numeric](18, 0) NOT NULL,
	[PAR_NAME] [varchar](100) NOT NULL,
	[PAR_VALUE] [varchar](1024) NULL,
	[PAR_DESCRIPTION] [varchar](1024) NULL,
 CONSTRAINT [PK_PARAMETERS] PRIMARY KEY CLUSTERED 
(
	[PAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CURRENCIES] ([CUR_ID], [CUR_NAME], [CUR_ISO_CODE], [CUR_ISO_CODE_NUM], [CUR_MINOR_UNIT], [CUR_SYMBOL], [CUR_FACT]) VALUES (CAST(1 AS Numeric(18, 0)), N'Afghan afghani', N'AFN', N'971', 2, NULL, 0.01)
INSERT [dbo].[CURRENCIES] ([CUR_ID], [CUR_NAME], [CUR_ISO_CODE], [CUR_ISO_CODE_NUM], [CUR_MINOR_UNIT], [CUR_SYMBOL], [CUR_FACT]) VALUES (CAST(2 AS Numeric(18, 0)), N'Albanian lek', N'ALL', N'008', 2, NULL, 0.01)
INSERT [dbo].[CURRENCIES] ([CUR_ID], [CUR_NAME], [CUR_ISO_CODE], [CUR_ISO_CODE_NUM], [CUR_MINOR_UNIT], [CUR_SYMBOL], [CUR_FACT]) VALUES (CAST(3 AS Numeric(18, 0)), N'Algerian dinar', N'DZD', N'012', 2, NULL, 0.01)
GO
INSERT [dbo].[PARAMETERS] ([PAR_ID], [PAR_NAME], [PAR_VALUE], [PAR_DESCRIPTION]) VALUES (CAST(1 AS Numeric(18, 0)), N'CHANGE_PROVIDER', N'CurrencyLayer', N'Service Type')
INSERT [dbo].[PARAMETERS] ([PAR_ID], [PAR_NAME], [PAR_VALUE], [PAR_DESCRIPTION]) VALUES (CAST(2 AS Numeric(18, 0)), N'SERVICE_URL', N'https://apilayer.net/api/live?access_key=2a4c0ed69561733a358d49a5a5200694', N'Service URL')
INSERT [dbo].[PARAMETERS] ([PAR_ID], [PAR_NAME], [PAR_VALUE], [PAR_DESCRIPTION]) VALUES (CAST(3 AS Numeric(18, 0)), N'REMOTE_CALL_TIMEOUT', N'5000', N'WS Timeout in ms')
ALTER TABLE [dbo].[CURRENCY_CHANGES]  WITH CHECK ADD  CONSTRAINT [FK_CURRENCY_CHANGES_DST_CURRENCIES] FOREIGN KEY([CUCH_DST_CUR_ID])
REFERENCES [dbo].[CURRENCIES] ([CUR_ID])
GO
ALTER TABLE [dbo].[CURRENCY_CHANGES] CHECK CONSTRAINT [FK_CURRENCY_CHANGES_DST_CURRENCIES]
GO
ALTER TABLE [dbo].[CURRENCY_CHANGES]  WITH CHECK ADD  CONSTRAINT [FK_CURRENCY_CHANGES_SRC_CURRENCIES] FOREIGN KEY([CUCH_SRC_CUR_ID])
REFERENCES [dbo].[CURRENCIES] ([CUR_ID])
GO
ALTER TABLE [dbo].[CURRENCY_CHANGES] CHECK CONSTRAINT [FK_CURRENCY_CHANGES_SRC_CURRENCIES]
GO
ALTER TABLE [dbo].[CURRENCY_CHANGES_HIS]  WITH CHECK ADD  CONSTRAINT [FK_CURRENCY_CHANGES_HIS_DST_CURRENCIES] FOREIGN KEY([CUCHH_DST_CUR_ID])
REFERENCES [dbo].[CURRENCIES] ([CUR_ID])
GO
ALTER TABLE [dbo].[CURRENCY_CHANGES_HIS] CHECK CONSTRAINT [FK_CURRENCY_CHANGES_HIS_DST_CURRENCIES]
GO
ALTER TABLE [dbo].[CURRENCY_CHANGES_HIS]  WITH CHECK ADD  CONSTRAINT [FK_CURRENCY_CHANGES_HIS_SRC_CURRENCIES] FOREIGN KEY([CUCHH_SRC_CUR_ID])
REFERENCES [dbo].[CURRENCIES] ([CUR_ID])
GO
ALTER TABLE [dbo].[CURRENCY_CHANGES_HIS] CHECK CONSTRAINT [FK_CURRENCY_CHANGES_HIS_SRC_CURRENCIES]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificator' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CURRENCIES', @level2type=N'COLUMN',@level2name=N'CUR_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Currencie name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CURRENCIES', @level2type=N'COLUMN',@level2name=N'CUR_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Currency Iso Code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CURRENCIES', @level2type=N'COLUMN',@level2name=N'CUR_ISO_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Currency Iso Code numeric' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CURRENCIES', @level2type=N'COLUMN',@level2name=N'CUR_ISO_CODE_NUM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Number of decimals' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CURRENCIES', @level2type=N'COLUMN',@level2name=N'CUR_MINOR_UNIT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificator' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CURRENCY_CHANGES', @level2type=N'COLUMN',@level2name=N'CUCH_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Source Currency' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CURRENCY_CHANGES', @level2type=N'COLUMN',@level2name=N'CUCH_SRC_CUR_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Destination Currency' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CURRENCY_CHANGES', @level2type=N'COLUMN',@level2name=N'CUCH_DST_CUR_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Change To Apply' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CURRENCY_CHANGES', @level2type=N'COLUMN',@level2name=N'CUCH_CHANGE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Adquisition UTC DateTime' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CURRENCY_CHANGES', @level2type=N'COLUMN',@level2name=N'CUCH_CHANGE_UTC_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificator' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CURRENCY_CHANGES_HIS', @level2type=N'COLUMN',@level2name=N'CUCHH_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Source Currency' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CURRENCY_CHANGES_HIS', @level2type=N'COLUMN',@level2name=N'CUCHH_SRC_CUR_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Destination Currency' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CURRENCY_CHANGES_HIS', @level2type=N'COLUMN',@level2name=N'CUCHH_DST_CUR_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Change To Apply' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CURRENCY_CHANGES_HIS', @level2type=N'COLUMN',@level2name=N'CUCHH_CHANGE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Adquisition UTC DateTime' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CURRENCY_CHANGES_HIS', @level2type=N'COLUMN',@level2name=N'CUCHH_CHANGE_UTC_INIDATE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Change of value UTC DateTime' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CURRENCY_CHANGES_HIS', @level2type=N'COLUMN',@level2name=N'CUCHH_CHANGE_UTC_ENDDATE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificator' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PARAMETERS', @level2type=N'COLUMN',@level2name=N'PAR_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Parameter name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PARAMETERS', @level2type=N'COLUMN',@level2name=N'PAR_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Parameter value' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PARAMETERS', @level2type=N'COLUMN',@level2name=N'PAR_VALUE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Parameter Explaination' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PARAMETERS', @level2type=N'COLUMN',@level2name=N'PAR_DESCRIPTION'
GO
USE [master]
GO
